.pace .pace-progress {background: #EF626C;}
.bigIcon,.socialList li a:hover{color: #EF626C;}
.btn-new,.downloadNumber{background: #EF626C}
.btn-new:hover,.btn-new:focus{background: #EF626C}
#share{background-color: #EF626C;}
