.pace .pace-progress {background: #22181C;}
.bigIcon,.socialList li a:hover{color: #22181C;}
.btn-new,.downloadNumber{background: #22181C}
.btn-new:hover,.btn-new:focus{background: #22181C}
#share{background-color: #22181C;}
.preloader {background-color: #fefefe;}
.pace .pace-progress {background: #22181C;}

body {
    color: #fff;
    background: #fff;
}

/*Main sections*/
#intro{     background:url("../../images/background-2.jpg") no-repeat center #22181C; background-size:cover;}
/*#intro{   background: #fff;   }*/
#overview{
    background: #f9f9f9;
    border-top: 1px solid #eee;
}
#app-brief1{ background: #22181C; }
#app-brief2{ background: #22181C; }
#screenshots{ background: #22181C; }
/*#screenshots{ background:url("../../images/background.jpg") no-repeat center #22181C; background-size:cover; }*/
#contact {
    background: #22181C;
    text-align: center;
}
footer {background: #312F2F; }


h1,h2,h3,h4,h5,h6 { color: #fff; }
.btn-new{
    background: #fff;
    color: #fff;
}
.btn-new:hover,.btn-new:focus{
    background: #22181C;
    color: #fff;
}
.NavBg{
    background:rgba(255,255,255,0.9);
}
.navbar-nav li.active a,.navbar-nav li a:hover, .navbar-nav li a {
    color:#fff;
}

.downloadNumber{
    background:#22181C;
    color: #fff;
}
.allinone_carousel.sweet .elementTitle{
    color: #888;
}
.bigIcon{
    color: #22181C;
}
#features{
    background:#fff;
    border: 1px solid #22181C;
}
#share{
    background:url("../../images/stars.png") no-repeat top left #22181C;
}

.subscription-form .input-box {
    border: 1px solid #161616;
    background: #FFF;
}

.form-control{
    color:#161616;
}
footer p{
    color: #dde7e3;
}
footer p a,footer p a:hover,footer p a:focus {
    color: #dde7e3;
}
.socialList li a{
    color: #fff;
}
.socialList li a span{
}
.socialList li a:hover{
    color: #fff;
}
.version{
    color: #22181C;
}
.version:hover,.version:focus{
    color: #22181C;
}